.header {
  background-color: #4b0081;
  width: 100%;
  .container {
    width: 55%;
    color: #fff;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }
}
