.container {
  width: 20%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;

  span {
    font-weight: 500;
    font-size: 20px;

    &:nth-child(2) {
      font-size: 25px;
    }
  }

  .img {
    width: 10rem;

    img {
      width: 100%;
    }
  }
}
