.container {
  width: 60%;
  margin: 0 auto;

  .top_block {
    width: 60%;
    margin: 0 auto;
    padding-top: 1rem;

    div {
      display: flex;
      justify-content: space-between;
    }
  }

  .bottom_block {
    margin-top: 20rem;
  }
}
